/* GLOBAL settings*/
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #F1CFB6;
    --background-color: #160F0B;
    --primary-color: #869054;
    --secondary-color: #101B09;
    --accent-color: #C6773F;
    --non-accent-color: #7F6050;
}

html {
    background-color: var(--background-color);
    color: var(--text-color);
    scroll-behavior: smooth;
    font-family: 'Inter'; font-size: 14px;
    text-align: center;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-weight: 500;
}

button:hover {
    cursor: pointer;
}

button:active {
    opacity: 0.8;
}

/*  HEADER  */
header {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, h3, h4, h5, h6 {
    font-size: 17px;
    font-weight: 400;
}

.navbar {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    text-decoration: underline;
}

/*  HERO section */
#hero {
    height: 70vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.bg-image {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.6;
    z-index: 1;
}

.bg-image.left {
    left: 0;
}

.bg-image.right {
    right: 0;
}

h2 {
    position: relative;
    z-index: 2;
    color: var(--primary-color);
    margin-top: 170px;
    margin-left: 35px;
    font-size: 39px;
    font-weight: 300;
    letter-spacing: -0.06em;
}

.dark-green {
    color: var(--secondary-color);
}

.order-btn {
    position: relative;
    z-index: 2;
    margin-top: 50px;
    border: none;
    background-color: var(--text-color);
    color: var(--background-color);
    opacity: 1;
}

.order-btn:hover {
    opacity: 0.9;
}

.order-btn:active {
    opacity: 0.8;
}

/*  INTRO section */
#intro {
    margin-top: 80px;
}

.bio {
    margin: auto;
    margin-top: 25px;
    max-width: 690px;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
}

/* PORTFOLIO section */
#portfolio {
    margin-top: 60px;
}

.scrollable-container {
    margin-top: 50px;
    display: flex;
    width: 98.7%;
    height: 540px;
}

.photo {
    display: block;
    border: 1px solid var(--secondary-color);
    object-fit: cover;
    object-position: center;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    filter: blur(1px);
    height: 92%;
    margin-top: 20px;
}

.left-img, .right-img {
    margin-top: 20px;
    width: 15%;
}

.left-middle-img, .right-middle-img {
    width: 22%;
}

.middle-img {
    margin-top: 0;
    width: 27%;
    height: 100%;
    opacity: 1;
    filter: blur(0);
}

.photo:hover {
    opacity: 0.9;
    filter: blur(0);
}

.middle-img:hover {
    opacity: 1;
}

/* ORDER section */
#shop {
    margin-top: 105px;
}

.prints-container {
    width: 94%;
    margin: auto;
}

.prints-container .row {
    margin: 100px 0;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
}

.item {
    position: relative;
    cursor: pointer;
    height: 14.5vw;
    width: 21.5vw;
    font-size: 13px;
    transition: transform 0.3s ease;
}

.item-img {
    height: 14.5vw;
    width: 21.5vw;
    object-fit: cover;
    object-position: center;
}

.row:first-child {
    margin-top: 80px;
}

.row:last-child {
    margin-bottom: 0;
}

.item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 15, 11, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;

    /* initially hidden */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
}

.item-overlay #price {
    color: var(--primary-color);
}

.view-btn {
    width: 57px;
    height: 22px;
    font-size: 11px;
    color: var(--background-color);
    background-color: var(--primary-color);
    border: none;
}

.item:hover .item-overlay {
    border: 1px solid var(--primary-color);
    opacity: 1;
}

.item:hover {
    transform: scale(1.05);
}

.view-btn:hover {
    border: 1px solid var(--background-color);
}

.more-btn {
    margin-top: 40px;
    width: 145px;
    height: 50px;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

.more-btn:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

/* CONTACT section */
#contact {
    margin-top: 90px;
    color: var(--primary-color);
}

#contact-form {
    margin: auto;
    width: 33%;
    text-align: left;
}

h6 {
    font-size: 26px;
    margin: 18px 0 60px;
    text-align: center;
}

fieldset {
    border: 1px solid var(--primary-color);
}

fieldset label {
    margin: 5px 40px 35px;
    font-size: 14px;
}

input, textarea {
    width: 80%;
    margin: 10px 40px 35px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 17px;
}

input {
    border: none;
    border-bottom: 1px solid var(--primary-color);
}

textarea {
    border: 1px solid var(--primary-color);
}

input:focus {
    outline: none;
    border-bottom: 1px solid var(--text-color);
}

textarea:focus {
    outline: none;
    border: 1px solid var(--text-color);
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--secondary-color) inset;
}

#send-btn {
    margin: 10px 0 30px;
    width: 145px;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.center {
    text-align: center;
}

#send-btn:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* FOOTER */
footer {
    margin-top: 70px;
}

hr {
    margin: auto;
    width: 95%;
    border: 1px solid var(--non-accent-color)
}

.footer-text {
    margin: 35px auto;
    display: flex;
    justify-content: space-evenly;
}

.small-text {
    color: var(--non-accent-color);
    font-size: 10px;
}

.small-text a {
    color: var(--non-accent-color)
}

.small-text a:hover {
    color: var(--text-color);
}

/* MOBILE OVERRIDES */

@media screen and (max-width: 768px) {
    /* GLOBAL Mobile Touch fixes*/
    a, button, .item, .photo {
        transition: opacity 0.2s ease, transform 0.2s ease;
    }

    @media(hover: none) {
        .item:hover,
        .photo:hover,
        .order-btn:hover,
        .more-btn:hover,
        .view-btn:hover,
        #send-btn:hover,
        a:hover {
            opacity: 1;
            transform: none;
            text-decoration: none;
        }

        .item:active,
        .photo:active,
        button:active,
        a:active {
            opacity: 0.8;
            transform: scale(0.98);
        }
    }

    a {
        display: block;
        padding: 8px;
    }

    /*  HERO section */
    .bg-image {
        width: 100%;
    }

    .bg-image.left {
        opacity: 0;
    }

    .bg-image.right {
        opacity: 0.9;
    }

    .order-btn {
        margin-top: 110px;
    }

    /*  INTRO section */
    .bio {
        margin: auto 15px;
    }

    /* PORTFOLIO section */
    .scrollable-container {
        flex-direction: column;
        align-items: center;
        height: 890px;
    }

    .photo {
        width: 55%;
        margin: 0;
    }

    .left-img, .right-img {
        display: none;
    }

    .middle-img {
        width: 60%;
    }

    /* ORDER section TO DOOOO*/
    #shop {
        margin-top: 130px;
    }

    .prints-container {
        width: 100%;
        margin: auto;
    }

    .prints-container .row {
        margin: 35px 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }

    .item {
        margin: auto;
        width: 70%;
        height: 95%;
        overflow: hidden;
    }

    .item-img {
        display: block;
        width: 100%;
        height: 100%;
    }

    .row:last-child {
        display: none;
    }

    .item-overlay {
        /* initially shown */
        opacity: 1;
    }

     .item:hover .item-overlay .view-btn {
        opacity: 1;
    }

    .view-btn {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        padding: 0;
        font-size: 0;
        color: transparent;
        background-color: transparent;
        opacity: 0;
    }

    .view-btn::after {
        content: '\f0a9';
        font-family: 'FontAwesome';
        font-size: 25px;
        color: var(--primary-color);
    }

    .view-btn:hover {
        border: none;
    }

    .more-btn {
        margin-top: 20px;
    }

    /* CONTACT section */
    #contact-form {
        width: 80%;
    }

    input, textarea {
        margin: 10px 30px 50px;
    }

    /* FOOTER */
    .footer-text {
        width: 85%;
        margin: 15px auto;
        flex-direction: column;
    }

    .small-text {
        margin-bottom: 15px;
    }
}
