*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #F1CFB6;
    --background-color: #160F0B;
    --primary-color: #869054;
    --secondary-color: #101B09;
    --accent-color: #C6773F;
    --non-accent-color: #7F6050;
}

html {
    background-color: var(--background-color);
    color: var(--text-color);
    scroll-behavior: smooth;
    font-family: 'Inter'; font-size: 14px;
    text-align: center;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-weight: 500;
}

button:hover {
    cursor: pointer;
}

button:active {
    opacity: 0.8;
}

/*  HEADER  */
header {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, h3, h4, h5, h6 {
    font-size: 17px;
    font-weight: 400;
}

.navbar {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    text-decoration: underline;
}

/*  HERO section */
#hero {
    height: 70vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.bg-image {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.6;
    z-index: 1;
}

.bg-image.left {
    left: 0;
    background-image: url('./images/van.jpg');
}

.bg-image.right {
    right: 0;
    background-image: url('./images/road.jpg');
}

h2 {
    position: relative;
    z-index: 2;
    color: var(--primary-color);
    margin-top: 170px;
    margin-left: 35px;
    font-size: 39px;
    font-weight: 300;
    letter-spacing: -0.06em;
}

.dark-green {
    color: var(--secondary-color);
}

.order-btn {
    position: relative;
    z-index: 2;
    margin-top: 50px;
    border: none;
    background-color: var(--text-color);
    color: var(--background-color);
    opacity: 1;
}

.order-btn:hover {
    opacity: 0.9;
    /* background-color: var(--text-color);
    color: var(--background-color); */
}

.order-btn:active {
    opacity: 0.8;
}

/*  INTRO section */
#intro {
    margin-top: 80px;
}

.bio {
    margin: auto;
    margin-top: 25px;
    max-width: 690px;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
}

/* PORTFOLIO section */
#portfolio {
    margin-top: 60px;
}

.scrollable-container {
    margin-top: 50px;
    display: flex;
    width: 98.7vw;
    height: 540px;
}

/* BLUR images! */
.photo {
    display: block;
    border: 1px solid var(--secondary-color);
    object-fit: cover;
    object-position: center;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.left-img, .right-img {
    margin-top: 20px;
    width: 183px;
    height: 500px;
    filter: blur(1px);
}

.left-middle-img, .right-middle-img {
    margin-top: 20px;
    width: 290px;
    height: 500px;
    filter: blur(1px);
}

.middle-img {
    width: 317px;
    opacity: 1;
}

.photo:hover {
    opacity: 0.9;
    filter: blur(0);
}

.middle-img:hover {
    opacity: 1;
}

/* ORDER section */
#shop {
    margin-top: 105px;
}

.prints-container {
    width: 94vw;
    margin: auto;
}

.prints-container .row {
    margin: 100px 0;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
}

.item {
    position: relative;
    cursor: pointer;
    height: 14.5vw;
    width: 21.5vw;
    font-size: 13px;

}

.item-img {
    height: 14.5vw;
    width: 21.5vw;
    object-fit: cover;
    object-position: center;
}

.row:first-child {
    margin-top: 80px;
}

.row:last-child {
    margin-bottom: 0;
}

.item-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 15, 11, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px;

    /* initially hidden */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
}

.item-overlay #price {
    color: var(--primary-color);
}

.view-btn {
    width: 57px;
    height: 22px;
    font-size: 11px;
    color: var(--background-color);
    background-color: var(--primary-color);
    border: none;
}

.item:hover .item-overlay {
    opacity: 1;
}

.view-btn:hover {
    opacity: 0.9;
    border: 1px solid var(--background-color);
}

.more-btn {
    margin-top: 40px;
    width: 145px;
    height: 50px;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

.more-btn:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

/* CONTACT section */
#contact {
    margin-top: 90px;
    color: var(--primary-color);
}

#contact-form {
    margin: auto;
    width: 33vw;
    text-align: left;
}

h6 {
    font-size: 26px;
    margin: 18px 0 60px;
    text-align: center;
}

fieldset {
    border: 1px solid var(--primary-color);
}

fieldset label {
    margin: 5px 40px 35px;
    font-size: 14px;
}

input, textarea{
    width: 80%;
    margin: 10px 40px 35px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 17px;
}

input {
    border: none;
    border-bottom: 1px solid var(--primary-color);
}

textarea {
    border: 1px solid var(--primary-color);
}

input:focus{
    outline: none;
    border-bottom: 1px solid var(--text-color);
}

textarea:focus {
    outline: none;
    border: 1px solid var(--text-color);
} 

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus{
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--secondary-color) inset;
}

#send-btn {
    margin: 10px 0 30px;
    width: 145px;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.center {
    text-align: center;
}

#send-btn:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* FOOTER */
footer {
    margin-top: 70px;
}

hr {
    margin: auto;
    width: 95%;
    border: 1px solid var(--non-accent-color)
}

.footer-text {
    margin: 35px auto;
    display: flex;
    justify-content: space-evenly;
}

.small-text {
    color: var(--non-accent-color);
    font-size: 10px;
}

.small-text a {
    color: var(--non-accent-color)
}

.small-text a:hover {
    color: var(--text-color);
}